/* MMCB.CSS by sean */
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}sub{bottom:-0.25em}
img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,select,textarea{font:inherit;margin:0}
button{overflow:visible}button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input[type=checkbox],input[type=radio]{padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{box-sizing:content-box;-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}pre,textarea{overflow:auto}
/* End extract from normalize.css */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1,h2,h3,h4,h5,h6,.MMCB-slim,.MMCB-wide{font-family:"Segoe UI",Arial,sans-serif}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.MMCB-serif{font-family:"Times New Roman",Times,serif}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}.MMCB-wide{letter-spacing:4px}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
hr{height:0;border:0;border-top:1px solid #eee;margin:20px 0}
img{margin-bottom:-5px}a{color:inherit}
.MMCB-table,.MMCB-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}
.MMCB-table-all{border:1px solid #ccc}
.MMCB-bordered tr,.MMCB-table-all tr{border-bottom:1px solid #ddd}
.MMCB-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.MMCB-table-all tr:nth-child(odd){background-color:#fff}
.MMCB-table-all tr:nth-child(even){background-color:#f1f1f1}
.MMCB-hoverable tbody tr:hover,.MMCB-ul.MMCB-hoverable li:hover{background-color:#ccc}
.MMCB-centered tr th,.MMCB-centered tr td{text-align:center}
.MMCB-table td,.MMCB-table th,.MMCB-table-all td,.MMCB-table-all th{padding:6px 8px;display:table-cell;text-align:left;vertical-align:top}
.MMCB-table th:first-child,.MMCB-table td:first-child,.MMCB-table-all th:first-child,.MMCB-table-all td:first-child{padding-left:16px}
.MMCB-btn,.MMCB-btn-block{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.MMCB-disabled,.MMCB-btn:disabled,.MMCB-btn-floating:disabled,.MMCB-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.MMCB-btn.MMCB-disabled *,.MMCB-btn-block.MMCB-disabled,.MMCB-btn-floating.MMCB-disabled *,.MMCB-btn:disabled *,.MMCB-btn-floating:disabled *{pointer-events:none}
.MMCB-btn.MMCB-disabled:hover,.MMCB-btn-block.MMCB-disabled:hover,.MMCB-btn:disabled:hover,.MMCB-btn-floating.MMCB-disabled:hover,.MMCB-btn-floating:disabled:hover,
.MMCB-btn-floating-large.MMCB-disabled:hover,.MMCB-btn-floating-large:disabled:hover{box-shadow:none}
.MMCB-btn:hover,.MMCB-btn-block:hover,.MMCB-btn-floating:hover,.MMCB-btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.MMCB-btn-block{width:100%}
.MMCB-btn,.MMCB-btn-floating,.MMCB-btn-floating-large,.MMCB-closenav,.MMCB-opennav{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.MMCB-btn-floating,.MMCB-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.MMCB-btn-floating{width:40px;height:40px;line-height:40px}
.MMCB-btn-floating-large{width:56px;height:56px;line-height:56px}
.MMCB-btn-group .MMCB-btn{float:left}
.MMCB-btn-bar .MMCB-btn{box-shadow:none;background-color:inherit;color:inherit;float:left}
.MMCB-btn-bar .MMCB-btn:hover{background-color:#ccc}
.MMCB-ripple{position:relative;overflow:hidden}
.MMCB-ripple:after{content:"";background:#ccc;position:absolute;padding:300%;bottom:0;left:0;opacity:0;transition:0.8s}
.MMCB-ripple:active:after{padding:0;opacity:1;transition:0s}
.MMCB-badge,.MMCB-tag,.MMCB-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.MMCB-badge{border-radius:50%}
ul.MMCB-ul{list-style-type:none;padding:0;margin:0}
ul.MMCB-ul li{padding:6px 2px 6px 16px;border-bottom:1px solid #ddd}
ul.MMCB-ul li:last-child{border-bottom:none}
.MMCB-tooltip,.MMCB-display-container{position:relative}
.MMCB-fluid{max-width:100%;height:auto}
.MMCB-tooltip .MMCB-text{display:none}
.MMCB-tooltip:hover .MMCB-text{display:inline-block}
.MMCB-navbar{list-style-type:none;margin:0;padding:0;overflow:hidden}
.MMCB-navbar li{float:left}.MMCB-navbar li a,.MMCB-navitem{display:block;padding:8px 16px}.MMCB-navbar li a:hover{color:#000;background-color:#ccc}
.MMCB-navbar .MMCB-dropdown-hover,.MMCB-navbar .MMCB-dropdown-click{position:static}
.MMCB-navbar .MMCB-dropdown-hover:hover,.MMCB-navbar .MMCB-dropdown-hover:first-child,.MMCB-navbar .MMCB-dropdown-click:hover{background-color:#ccc;color:#000}
.MMCB-navbar a,.MMCB-topnav a,.MMCB-sidenav a,.MMCB-dropdown-content a,.MMCB-accordion-content a,.MMCB-dropnav a{text-decoration:none!important}
.MMCB-navbar .MMCB-opennav.MMCB-right{float:right!important}.MMCB-topnav{padding:8px 8px}
.MMCB-topnav a{padding:0 8px;border-bottom:3px solid transparent;-webkit-transition:border-bottom .3s;transition:border-bottom .3s}
.MMCB-topnav a:hover{border-bottom:3px solid #fff}.MMCB-topnav .MMCB-dropdown-hover a{border-bottom:0}
.MMCB-opennav,.MMCB-closenav{color:inherit}.MMCB-opennav:hover,.MMCB-closenav:hover{cursor:pointer;opacity:0.8}
.MMCB-btn,.MMCB-btn-floating,.MMCB-dropnav a,.MMCB-btn-floating-large,.MMCB-btn-block,.MMCB-hover-shadow,.MMCB-hover-opacity,.MMCB-hover-opacity-off,
.MMCB-navbar a,.MMCB-sidenav a,.MMCB-pagination li a,.MMCB-hoverable tbody tr,.MMCB-hoverable li,.MMCB-accordion-content a,.MMCB-dropdown-content a,.MMCB-dropdown-click:hover,.MMCB-dropdown-hover:hover,.MMCB-opennav,.MMCB-closenav,.MMCB-closebtn,
.MMCB-hover-amber,.MMCB-hover-aqua,.MMCB-hover-blue,.MMCB-hover-light-blue,.MMCB-hover-brown,.MMCB-hover-cyan,.MMCB-hover-blue-grey,.MMCB-hover-green,.MMCB-hover-light-green,.MMCB-hover-indigo,.MMCB-hover-khaki,.MMCB-hover-lime,.MMCB-hover-orange,.MMCB-hover-deep-orange,.MMCB-hover-pink,
.MMCB-hover-purple,.MMCB-hover-deep-purple,.MMCB-hover-red,.MMCB-hover-sand,.MMCB-hover-teal,.MMCB-hover-yellow,.MMCB-hover-white,.MMCB-hover-black,.MMCB-hover-grey,.MMCB-hover-light-grey,.MMCB-hover-dark-grey,.MMCB-hover-text-amber,.MMCB-hover-text-aqua,.MMCB-hover-text-blue,.MMCB-hover-text-light-blue,
.MMCB-hover-text-brown,.MMCB-hover-text-cyan,.MMCB-hover-text-blue-grey,.MMCB-hover-text-green,.MMCB-hover-text-light-green,.MMCB-hover-text-indigo,.MMCB-hover-text-khaki,.MMCB-hover-text-lime,.MMCB-hover-text-orange,.MMCB-hover-text-deep-orange,.MMCB-hover-text-pink,.MMCB-hover-text-purple,
.MMCB-hover-text-deep-purple,.MMCB-hover-text-red,.MMCB-hover-text-sand,.MMCB-hover-text-teal,.MMCB-hover-text-yellow,.MMCB-hover-text-white,.MMCB-hover-text-black,.MMCB-hover-text-grey,.MMCB-hover-text-light-grey,.MMCB-hover-text-dark-grey
{-webkit-transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s}
.MMCB-sidenav{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.MMCB-sidenav a{padding:4px 2px 4px 16px}.MMCB-sidenav a:hover{background-color:#ccc}.MMCB-sidenav a,.MMCB-dropnav a{display:block}
.MMCB-sidenav .MMCB-dropdown-hover:hover,.MMCB-sidenav .MMCB-dropdown-hover:first-child,.MMCB-sidenav .MMCB-dropdown-click:hover,.MMCB-dropnav a:hover{background-color:#ccc;color:#000}
.MMCB-sidenav .MMCB-dropdown-hover,.MMCB-sidenav .MMCB-dropdown-click {width:100%}.MMCB-sidenav .MMCB-dropdown-hover .MMCB-dropdown-content,.MMCB-sidenav .MMCB-dropdown-click .MMCB-dropdown-content{min-width:100%}
.MMCB-main,#main{transition:margin-left .4s}
.MMCB-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.MMCB-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}.MMCB-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}
.MMCB-closebtn:hover,.MMCB-closebtn:focus{color:#000;text-decoration:none;cursor:pointer}
.MMCB-pagination{display:inline-block;padding:0;margin:0}.MMCB-pagination li{display:inline}
.MMCB-pagination li a{text-decoration:none;color:#000;float:left;padding:8px 16px}
.MMCB-pagination li a:hover{background-color:#ccc}
.MMCB-input-group,.MMCB-group{margin-top:24px;margin-bottom:24px}
.MMCB-input{padding:8px;display:block;border:none;border-bottom:1px solid #808080;width:100%}
.MMCB-label{color:#009688}.MMCB-input:not(:valid)~.MMCB-validate{color:#f44336}
.MMCB-select{padding:9px 0;width:100%;color:#000;border:1px solid transparent;border-bottom:1px solid #009688}
.MMCB-select select:focus{color:#000;border:1px solid #009688}.MMCB-select option[disabled]{color:#009688}
.MMCB-dropdown-click,.MMCB-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.MMCB-dropdown-hover:hover .MMCB-dropdown-content{display:block;z-index:1}
.MMCB-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.MMCB-dropdown-content a{padding:6px 16px;display:block}
.MMCB-dropdown-content a:hover{background-color:#ccc}
.MMCB-accordion {width:100%;cursor:pointer}
.MMCB-accordion-content{cursor:auto;display:none;position:relative;width:100%;margin:0;padding:0}
.MMCB-accordion-content a{padding:6px 16px;display:block}.MMCB-accordion-content a:hover{background-color:#ccc}
.MMCB-progress-container{width:100%;height:1.5em;position:relative;background-color:#f1f1f1}
.MMCB-progressbar{background-color:#757575;height:100%;position:absolute;line-height:inherit}
input[type=checkbox].MMCB-check,input[type=radio].MMCB-radio{width:24px;height:24px;position:relative;top:6px}
input[type=checkbox].MMCB-check:checked+.MMCB-validate,input[type=radio].MMCB-radio:checked+.MMCB-validate{color:#009688} 
input[type=checkbox].MMCB-check:disabled+.MMCB-validate,input[type=radio].MMCB-radio:disabled+.MMCB-validate{color:#aaa}
.MMCB-responsive{overflow-x:auto}
.MMCB-container:after,.MMCB-panel:after,.MMCB-row:after,.MMCB-row-padding:after,.MMCB-topnav:after,.MMCB-clear:after,.MMCB-btn-group:before,.MMCB-btn-group:after,.MMCB-btn-bar:before,.MMCB-btn-bar:after
{content:"";display:table;clear:both}
.MMCB-col,.MMCB-half,.MMCB-third,.MMCB-twothird,.MMCB-threequarter,.MMCB-quarter{float:left;width:100%}
.MMCB-col.s1{width:8.33333%}
.MMCB-col.s2{width:16.66666%}
.MMCB-col.s3{width:24.99999%}
.MMCB-col.s4{width:33.33333%}
.MMCB-col.s5{width:41.66666%}
.MMCB-col.s6{width:49.99999%}
.MMCB-col.s7{width:58.33333%}
.MMCB-col.s8{width:66.66666%}
.MMCB-col.s9{width:74.99999%}
.MMCB-col.s10{width:83.33333%}
.MMCB-col.s11{width:91.66666%}
.MMCB-col.s12,.MMCB-half,.MMCB-third,.MMCB-twothird,.MMCB-threequarter,.MMCB-quarter{width:99.99999%}
@media only screen and (min-width:601px){
.MMCB-col.m1{width:8.33333%}
.MMCB-col.m2{width:16.66666%}
.MMCB-col.m3,.MMCB-quarter{width:24.99999%}
.MMCB-col.m4,.MMCB-third{width:33.33333%}
.MMCB-col.m5{width:41.66666%}
.MMCB-col.m6,.MMCB-half{width:49.99999%}
.MMCB-col.m7{width:58.33333%}
.MMCB-col.m8,.MMCB-twothird{width:66.66666%}
.MMCB-col.m9,.MMCB-threequarter{width:74.99999%}
.MMCB-col.m10{width:83.33333%}
.MMCB-col.m11{width:91.66666%}
.MMCB-col.m12{width:99.99999%}}
@media only screen and (min-width:993px){
.MMCB-col.l1{width:8.33333%}
.MMCB-col.l2{width:16.66666%}
.MMCB-col.l3,.MMCB-quarter{width:24.99999%}
.MMCB-col.l4,.MMCB-third{width:33.33333%}
.MMCB-col.l5{width:41.66666%}
.MMCB-col.l6,.MMCB-half{width:49.99999%}
.MMCB-col.l7{width:58.33333%}
.MMCB-col.l8,.MMCB-twothird{width:66.66666%}
.MMCB-col.l9,.MMCB-threequarter{width:74.99999%}
.MMCB-col.l10{width:83.33333%}
.MMCB-col.l11{width:91.66666%}
.MMCB-col.l12{width:99.99999%}}
.MMCB-content{max-width:980px;margin:auto}
.MMCB-rest{overflow:hidden}
.MMCB-hide{display:none!important}.MMCB-show-block,.MMCB-show{display:block!important}.MMCB-show-inline-block{display:inline-block!important}
@media (max-width:600px){.MMCB-modal-content{margin:0 10px;width:auto!important}.MMCB-modal{padding-top:30px}}
@media (max-width:768px){.MMCB-modal-content{width:500px}.MMCB-modal{padding-top:50px}}
@media (min-width:993px){.MMCB-modal-content{width:900px}}
@media screen and (max-width:600px){.MMCB-topnav a{display:block}.MMCB-navbar li:not(.MMCB-opennav){float:none;width:100%!important}.MMCB-navbar li.MMCB-right{float:none!important}}	
@media screen and (max-width:600px){.MMCB-topnav .MMCB-dropdown-hover .MMCB-dropdown-content,.MMCB-navbar .MMCB-dropdown-click .MMCB-dropdown-content,.MMCB-navbar .MMCB-dropdown-hover .MMCB-dropdown-content{position:relative}}	
@media screen and (max-width:600px){.MMCB-topnav,.MMCB-navbar{text-align:center}}
@media (max-width:600px){.MMCB-hide-small{display:none!important}}
@media (max-width:992px) and (min-width:601px){.MMCB-hide-medium{display:none!important}}
@media (min-width:993px){.MMCB-hide-large{display:none!important}}
@media screen and (max-width:992px){.MMCB-sidenav.MMCB-collapse{display:none}.MMCB-main{margin-left:0!important;margin-right:0!important}}
@media screen and (min-width:993px){.MMCB-sidenav.MMCB-collapse{display:block!important}}
.MMCB-top,.MMCB-bottom{position:fixed;width:100%;z-index:1}.MMCB-top{top:0}.MMCB-bottom{bottom:0}
.MMCB-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.MMCB-left{float:left!important}.MMCB-right{float:right!important}
.MMCB-tiny{font-size:10px!important}.MMCB-small{font-size:12px!important}
.MMCB-medium{font-size:15px!important}.MMCB-large{font-size:18px!important}
.MMCB-xlarge{font-size:24px!important}.MMCB-xxlarge{font-size:36px!important}
.MMCB-xxxlarge{font-size:48px!important}.MMCB-jumbo{font-size:64px!important}
.MMCB-vertical{word-break:break-all;line-height:1;text-align:center;width:0.6em}
.MMCB-left-align{text-align:left!important}.MMCB-right-align{text-align:right!important}
.MMCB-justify{text-align:justify!important}.MMCB-center{text-align:center!important}
.MMCB-display-topleft{position:absolute;left:0;top:0}.MMCB-display-topright{position:absolute;right:0;top:0}
.MMCB-display-bottomleft{position:absolute;left:0;bottom:0}.MMCB-display-bottomright{position:absolute;right:0;bottom:0}
.MMCB-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.MMCB-display-topmiddle{position:absolute;left:0;top:0;width:100%;text-align:center}.MMCB-display-bottommiddle{position:absolute;left:0;bottom:0;width:100%;text-align:center}
.MMCB-circle{border-radius:50%!important}
.MMCB-round-small{border-radius:2px!important}.MMCB-round,.MMCB-round-medium{border-radius:4px!important}
.MMCB-round-large{border-radius:8px!important}.MMCB-round-xlarge{border-radius:16px!important}
.MMCB-round-xxlarge{border-radius:32px!important}.MMCB-round-jumbo{border-radius:64px!important}
.MMCB-border-0{border:0!important}
.MMCB-border{border:1px solid #ccc!important}
.MMCB-border-top{border-top:1px solid #ccc!important}.MMCB-border-bottom{border-bottom:1px solid #ccc!important}
.MMCB-border-left{border-left:1px solid #ccc!important}.MMCB-border-right{border-right:1px solid #ccc!important}
.MMCB-margin{margin:16px!important}.MMCB-margin-0{margin:0!important}
.MMCB-margin-top{margin-top:16px!important}.MMCB-margin-bottom{margin-bottom:16px!important}
.MMCB-margin-left{margin-left:16px!important}.MMCB-margin-right{margin-right:16px!important}
.MMCB-section{margin-top:16px!important;margin-bottom:16px!important}
.MMCB-padding-tiny{padding:2px 4px!important}.MMCB-padding-small{padding:4px 8px!important}
.MMCB-padding-medium,.MMCB-padding,.MMCB-form{padding:8px 16px!important}
.MMCB-padding-large{padding:12px 24px!important}.MMCB-padding-xlarge{padding:16px 32px!important}
.MMCB-padding-xxlarge{padding:24px 48px!important}.MMCB-padding-jumbo{padding:32px 64px!important}
.MMCB-padding-4{padding-top:4px!important;padding-bottom:4px!important}
.MMCB-padding-8{padding-top:8px!important;padding-bottom:8px!important}
.MMCB-padding-12{padding-top:12px!important;padding-bottom:12px!important}
.MMCB-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.MMCB-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.MMCB-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.MMCB-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.MMCB-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.MMCB-padding-128{padding-top:128px!important;padding-bottom:128px!important}
.MMCB-padding-0{padding:0!important}
.MMCB-padding-top{padding-top:8px!important}.MMCB-padding-bottom{padding-bottom:8px!important}
.MMCB-padding-left{padding-left:16px!important}.MMCB-padding-right{padding-right:16px!important}
.MMCB-topbar{border-top:6px solid #ccc!important}.MMCB-bottombar{border-bottom:6px solid #ccc!important}
.MMCB-leftbar{border-left:6px solid #ccc!important}.MMCB-rightbar{border-right:6px solid #ccc!important}
.MMCB-row-padding,.MMCB-row-padding>.MMCB-half,.MMCB-row-padding>.MMCB-third,.MMCB-row-padding>.MMCB-twothird,.MMCB-row-padding>.MMCB-threequarter,.MMCB-row-padding>.MMCB-quarter,.MMCB-row-padding>.MMCB-col{padding:0 8px}
.MMCB-spin{animation:w3-spin 2s infinite linear;-webkit-animation:w3-spin 2s infinite linear}
@-webkit-keyframes w3-spin{
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes w3-spin{
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
.MMCB-container{padding:0.01em 16px}
.MMCB-panel{padding:0.01em 16px;margin-top:16px!important;margin-bottom:16px!important}
.MMCB-example{background-color:#f1f1f1;padding:0.01em 16px}
.MMCB-code,.MMCB-codespan{font-family:Consolas,"courier new";font-size:16px}
.MMCB-code{line-height:1.4;width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #009688;word-wrap:break-word}
.MMCB-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.MMCB-example,.MMCB-code,.MMCB-reference{margin:20px 0}
.MMCB-card{border:1px solid #ccc}
.MMCB-card-2,.MMCB-example{box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.MMCB-card-4,.MMCB-hover-shadow:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.MMCB-card-8{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.MMCB-card-12{box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important}
.MMCB-card-16{box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21)!important}
.MMCB-card-24{box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22)!important}
.MMCB-animate-fading{-webkit-animation:fading 10s infinite;animation:fading 10s infinite}
@-webkit-keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.MMCB-animate-opacity{-webkit-animation:opac 1.5s;animation:opac 1.5s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.MMCB-animate-top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.MMCB-animate-left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.MMCB-animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.MMCB-animate-bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.MMCB-animate-zoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.MMCB-animate-input{-webkit-transition:width 0.4s ease-in-out;transition:width 0.4s ease-in-out}.MMCB-animate-input:focus{width:100%!important}
.MMCB-opacity,.MMCB-hover-opacity:hover{opacity:0.60;filter:alpha(opacity=60);-webkit-backface-visibility:hidden}
.MMCB-opacity-off,.MMCB-hover-opacity-off:hover{opacity:1;filter:alpha(opacity=100);-webkit-backface-visibility:hidden}
.MMCB-text-shadow{text-shadow:1px 1px 0 #444}.MMCB-text-shadow-white{text-shadow:1px 1px 0 #ddd}
.MMCB-transparent{background-color:transparent!important}
.MMCB-hover-none:hover{box-shadow:none!important;background-color:transparent!important}
/* Start of colors */
.MMCB-amber,.MMCB-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.MMCB-aqua,.MMCB-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.MMCB-blue,.MMCB-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.MMCB-light-blue,.MMCB-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.MMCB-brown,.MMCB-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.MMCB-cyan,.MMCB-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.MMCB-blue-grey,.MMCB-hover-blue-grey:hover{color:#fff!important;background-color:#607d8b!important}
.MMCB-green,.MMCB-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.MMCB-light-green,.MMCB-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.MMCB-indigo,.MMCB-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.MMCB-khaki,.MMCB-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.MMCB-lime,.MMCB-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.MMCB-orange,.MMCB-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.MMCB-deep-orange,.MMCB-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.MMCB-pink,.MMCB-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.MMCB-purple,.MMCB-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.MMCB-deep-purple,.MMCB-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.MMCB-red,.MMCB-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.MMCB-sand,.MMCB-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.MMCB-teal,.MMCB-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.MMCB-yellow,.MMCB-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.MMCB-white,.MMCB-hover-white:hover{color:#000!important;background-color:#fff!important}
.MMCB-black,.MMCB-hover-black:hover{color:#fff!important;background-color:#000!important}
.MMCB-grey,.MMCB-hover-grey:hover{color:#000!important;background-color:#9e9e9e!important}
.MMCB-light-grey,.MMCB-hover-light-grey:hover{color:#000!important;background-color:#f1f1f1!important}
.MMCB-dark-grey,.MMCB-hover-dark-grey:hover{color:#fff!important;background-color:#616161!important}
.MMCB-pale-red,.MMCB-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.MMCB-pale-green,.MMCB-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.MMCB-pale-yellow,.MMCB-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.MMCB-pale-blue,.MMCB-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.MMCB-text-amber,.MMCB-hover-text-amber:hover{color:#ffc107!important}
.MMCB-text-aqua,.MMCB-hover-text-aqua:hover{color:#00ffff!important}
.MMCB-text-blue,.MMCB-hover-text-blue:hover{color:#2196F3!important}
.MMCB-text-light-blue,.MMCB-hover-text-light-blue:hover{color:#87CEEB!important}
.MMCB-text-brown,.MMCB-hover-text-brown:hover{color:#795548!important}
.MMCB-text-cyan,.MMCB-hover-text-cyan:hover{color:#00bcd4!important}
.MMCB-text-blue-grey,.MMCB-hover-text-blue-grey:hover{color:#607d8b!important}
.MMCB-text-green,.MMCB-hover-text-green:hover{color:#4CAF50!important}
.MMCB-text-light-green,.MMCB-hover-text-light-green:hover{color:#8bc34a!important}
.MMCB-text-indigo,.MMCB-hover-text-indigo:hover{color:#3f51b5!important}
.MMCB-text-khaki,.MMCB-hover-text-khaki:hover{color:#b4aa50!important}
.MMCB-text-lime,.MMCB-hover-text-lime:hover{color:#cddc39!important}
.MMCB-text-orange,.MMCB-hover-text-orange:hover{color:#ff9800!important}
.MMCB-text-deep-orange,.MMCB-hover-text-deep-orange:hover{color:#ff5722!important}
.MMCB-text-pink,.MMCB-hover-text-pink:hover{color:#e91e63!important}
.MMCB-text-purple,.MMCB-hover-text-purple:hover{color:#9c27b0!important}
.MMCB-text-deep-purple,.MMCB-hover-text-deep-purple:hover{color:#673ab7!important}
.MMCB-text-red,.MMCB-hover-text-red:hover{color:#f44336!important}
.MMCB-text-sand,.MMCB-hover-text-sand:hover{color:#fdf5e6!important}
.MMCB-text-teal,.MMCB-hover-text-teal:hover{color:#009688!important}
.MMCB-text-yellow,.MMCB-hover-text-yellow:hover{color:#d2be0e!important}
.MMCB-text-white,.MMCB-hover-text-white:hover{color:#fff!important}
.MMCB-text-black,.MMCB-hover-text-black:hover{color:#000!important}
.MMCB-text-grey,.MMCB-hover-text-grey:hover{color:#757575!important}
.MMCB-text-light-grey,.MMCB-hover-text-light-grey:hover{color:#f1f1f1!important}
.MMCB-text-dark-grey,.MMCB-hover-text-dark-grey:hover{color:#3a3a3a!important}
.MMCB-border-amber,.MMCB-hover-border-amber:hover{border-color:#ffc107!important}
.MMCB-border-aqua,.MMCB-hover-border-aqua:hover{border-color:#00ffff!important}
.MMCB-border-blue,.MMCB-hover-border-blue:hover{border-color:#2196F3!important}
.MMCB-border-light-blue,.MMCB-hover-border-light-blue:hover{border-color:#87CEEB!important}
.MMCB-border-brown,.MMCB-hover-border-brown:hover{border-color:#795548!important}
.MMCB-border-cyan,.MMCB-hover-border-cyan:hover{border-color:#00bcd4!important}
.MMCB-border-blue-grey,.MMCB-hover-blue-grey:hover{border-color:#607d8b!important}
.MMCB-border-green,.MMCB-hover-border-green:hover{border-color:#4CAF50!important}
.MMCB-border-light-green,.MMCB-hover-border-light-green:hover{border-color:#8bc34a!important}
.MMCB-border-indigo,.MMCB-hover-border-indigo:hover{border-color:#3f51b5!important}
.MMCB-border-khaki,.MMCB-hover-border-khaki:hover{border-color:#f0e68c!important}
.MMCB-border-lime,.MMCB-hover-border-lime:hover{border-color:#cddc39!important}
.MMCB-border-orange,.MMCB-hover-border-orange:hover{border-color:#ff9800!important}
.MMCB-border-deep-orange,.MMCB-hover-border-deep-orange:hover{border-color:#ff5722!important}
.MMCB-border-pink,.MMCB-hover-border-pink:hover{border-color:#e91e63!important}
.MMCB-border-purple,.MMCB-hover-border-purple:hover{border-color:#9c27b0!important}
.MMCB-border-deep-purple,.MMCB-hover-border-deep-purple:hover{border-color:#673ab7!important}
.MMCB-border-red,.MMCB-hover-border-red:hover{border-color:#f44336!important}
.MMCB-border-sand,.MMCB-hover-border-sand:hover{border-color:#fdf5e6!important}
.MMCB-border-teal,.MMCB-hover-border-teal:hover{border-color:#009688!important}
.MMCB-border-yellow,.MMCB-hover-border-yellow:hover{border-color:#ffeb3b!important}
.MMCB-border-white,.MMCB-hover-border-white:hover{border-color:#fff!important}
.MMCB-border-black,.MMCB-hover-border-black:hover{border-color:#000!important}
.MMCB-border-grey,.MMCB-hover-border-grey:hover{border-color:#9e9e9e!important}
.MMCB-border-light-grey,.MMCB-hover-border-light-grey:hover{border-color:#f1f1f1!important}
.MMCB-border-dark-grey,.MMCB-hover-border-dark-grey:hover{border-color:#616161!important}
.MMCB-border-pale-red,.MMCB-hover-border-pale-red:hover{border-color:#ffe7e7!important}.MMCB-border-pale-green,.MMCB-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.MMCB-border-pale-yellow,.MMCB-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.MMCB-border-pale-blue,.MMCB-hover-border-pale-blue:hover{border-color:#e7ffff!important}